.modal {
  --tomato-color: hsl(4, 100%, 67%);
  --dark-slate-grey-color: hsl(234, 29%, 20%);
}

.modal {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 2rem 2rem 2rem;
}

.modal img {
  width: 5rem;
  aspect-ratio: 1/1;
}

.modal button {
  padding: 1rem 2rem;
  background-color: var(--dark-slate-grey-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.modal button:hover,
.modal button:active {
  background-color: var(--tomato-color);
  cursor: pointer;
}
